
.header {
    padding: 5px;
    text-align: center;
    background: black;
    color: white;
    font-size: 20px;
   }
   
   * {box-sizing:border-box}
   
   /* Slideshow container */
   .slideshow-container {
     position: relative;
     margin: auto;
   }
  
   
   body {
           font-family: Arial;
           margin: 0;
        }
   
   .content {padding:20px;}
   
   #textbox
   {
       height: 40px;
       width: 500px;
   }
   
   
   #btn_click
   {
       height: 50;
       width:150;
       color: tomato;
   }
   
   #lb1
   {
       color:blue;
       size: 15pt;
   }
   
   #butt
   {
       height: 40px;
       width: 200px; 
       background-color:aqua;
       font-weight: bold;
       
   }
   
   .card{
		transition: 0.3s;
    width: 200px;
    border-radius: 5px;
   }

   .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
   }

   .container {
     width: 100%;
     height: 75px;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
   }
   
   .text-light {
     color: #f8f9fa;
   }
   
   .text-center {
     text-align: center;
     }
   
   .bg-dark {
     background-color: #343a40;
   }
   
   .space{
       padding-left: 45px;
       padding-right: 45px;
       padding-top: 30px;
       padding-bottom: 30px;
       float:left;
   }
  
   /* Detect.html css part */
  .container1{
    float:left;
  }

  input [type=text]{
    border: 5px solid black;
  }

  li{
    list-style: none;
    float: right;
  }

 
